div {
  width: 250px;
  min-height: 200px;
  &.car1 {
    position: absolute;
    right: 20px;
    top: 30px;
    & > img {
      transform: rotate(180deg);
    }
  }
  &.car2 {
    position: absolute;
    right: 20px;
    top: 280px;
  }
}
.road {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 5%;
  background-color: black;
  width: 1700px;
  height: 500px;
}
