body {
  background-color: hsl(0, 3%, 18%);
}

div {
  width: 250px;
  height: 200px;
  &.car1 {
    position: absolute;
    right: 20px;
    top: 30px;
    & > img {
      transform: rotate(180deg);
    }
  }
  &.car2 {
    position: absolute;
    right: 20px;
    top: 280px;
  }
}
.road {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 70px;
  background: rgb(1, 1, 1);
  background: linear-gradient(
    248deg,
    rgba(1, 1, 1, 1) 75%,
    rgba(136, 131, 132, 1) 90%
  );
  width: 1800px;
  height: 500px;
  & > .flag > iframe {
    width: 280px;
    position: absolute;
    top: 170px;
    left: -10px;
  }
}
.line {
  width: 1800px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 250px;
}
.victory {
  width: 5px;
  height: 500px;
  background-color: red;
  position: absolute;
  left: 250px;
}
